*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5 ;
}
.box{
    width:"100%";
    height: 100%;
    display: flex;
    justify-content:"space-between";
    align-items: start;
    flex-direction: column;
}
/*li.list-group-item:a{
    text-decoration: none;
}*/
a{
    text-decoration: none;
    color:black;
}
li.list-group-item {
    background: transparent;
    border:none;
}
.card button{
    position: relative;
    left: 70px;
    text-align: center;
}
footer{
    text-align: center;
}
.btn-outline-primary{
    position: center;
}

/*-----------------------------Yusef--------------------------*/
.enlaces{
    display: flex;
    margin-right: 40%;
    font-size:x-small;      
}
.card{
    margin-bottom: 10px;
    border-radius: 15px;
}

.reloj{
    text-align: center;
    margin-top: -7%;
    font-size: x-large;
 }
 .pinned, .color-accent-brand, .fw-bold{
     color: blue;
     display: flex;
     margin-left: 56%;
     margin-top: -5%;
         
    }
    .btn, .btn-light{
        background-color: transparent;
        border: none;        
    }
        
    .pinned svg {
        fill: blue;
        margin-top: 1%;
         }
    .logodev{
        display: flex;
       margin-top: -2%;
     }
    
    .letra{
        margin-top: 2%;
        margin-left: 20%;
    }
    .links a:hover{
        background-color: rgb(207, 205, 205);
           
    }
    .links{
        margin-top: -6%;
    }
    .save{
        display: flex;
        margin-left: 60%;
    }
 button{
    background-color: rgb(219, 219, 219);
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    padding: 2px 10px;
    border-radius: 6px;
    border: 10%;
    border-color: white;
   
}  
.buttondev{
    margin-right: 5%;
}  
.letra{
    font-size: small;
}
.enlaces2{
    display: flex;
    margin-left: 9%;
    margin-top: -6%;
}
.logodev2{
    display: flex;
    margin-left: 4%;
}
.mar25{
    font-size: small;
    display: flex;
    margin-left: 12%;
    margin-top: -4%;
}
.link2{
    display: flex;
    font-size:x-large;
    text-align: justify;
   
    margin: 1% 11% 3% 11%;
}
.hashtag2{
    display: flex;
    margin-left: 7%;
    margin-top: -4%;
}
.comentarios2{
    display: flex;
    margin-left: 15%;
    font-size: small;
}
.save2{
    display: flex;
    margin-left: 60%;
}
a:hover{
    background-color: rgb(207, 205, 205);
       
}
.enlaces3{
    display: flex;
    margin-left: 5%;
    margin-top: -7%;
}
.fecha2{
    font-size: small;
    display: flex;
    margin-left: 8%;
    margin-top: -4%;
}
.link3{
    display: flex;
    font-size:x-large;
    text-align: justify;
    margin: 1% 11% 5% 11%;
}
.hashtag3{
    display: flex;
    margin-left: 7%;
    margin-top: -4%;
    font-size: small;
}
.comentarios3{
    display: flex;
    margin-left: 15%;
    font-size: small;
}
.save3{
    display: flex;
    margin-left: 60%;
}
/* .logodev3{
    display: flex;
    margin-left: 4%;
} */
.enlaces4{
    display: flex;
    margin-left: 5%;
    margin-top: -7%;
}
.fecha3{
    font-size: small;
    display: flex;
    margin-left: 8%;
    margin-top: -4%;
}
.link4{
    display: flex;
    font-size:x-large;
    text-align: justify;
    margin: 1% 11% 5% 11%;
 }
 .hashtag4{
    display: flex;
    margin-left: 7%;
    margin-top: -4%;
    font-size: small;
}
/*------------------------------------------Jose de Anda----------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F5F5 ;
    height: 100vh;
    width: 100vw;
}
.box{
    width:"100%";
    height: 100%;
    display: flex;
    justify-content:"space-between";
    align-items: start;
    flex-direction: column;
}
/*li.list-group-item:a{
    text-decoration: none;
}*/
a{
    text-decoration: none;
    color:black;
}
header {
    width: 100%;
    height: 7%;
    background-color: white;
    border-bottom: solid gray 0.01em;
    margin-top: auto;
    display: flex;
  }
  nav {
    display: flex;
    justify-content: row;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
}
.div-izq {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    width: 30%;
    height: 100%;
    padding-left: 10%;
}
.div-der {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 5px;
    height: 100%;
}
.logoimg{
    height: 40px;
    margin-right: 10px;
}
.btn-outline-primary{
    margin-left: 20px;
}
.form-control, .me-2 {
    width: 350px;
}
.btn-outline-success{
    position: relative;
    right: 79px;
    border: none;
}
.firstBox{
    display: flex;
    border: solid white 0.1em ;
    background-color: rgb(250, 250, 250, );
    width: 90%;
}
a h2{
    text-decoration: none;
    color: blue;
}
.card-link {
    text-align: center;
}
.dosBotones {
    display: flex;
    width: 100%;
}
.dosBotones p{
    display: flex;
    flex-direction: column;
}
.listingButton {
    text-decoration: none;
}